.about_item
    background-color: white
    min-width: 300px
    max-width: 330px
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    position: relative
    padding: 30px 30px 40px 30px
    height: 100%
    -webkit-box-shadow: 0px 3px 11px -6px #000000 
    box-shadow: 0px 3px 11px -6px #000000
    
.cert_list
    padding-left: 24px

.cert_name
    font-size: 1.125rem
    margin: 20px 0 0 0
    cursor: pointer
    color: #1904d1

.cert_org_name
    font-size: 1rem
    margin: 5px 0 10px 0

.content_wrapper
    width: 100%
    max-width: 1600px
    margin: 0 auto
    padding: 1.5rem 0 5rem 0

.divider
    margin: 20px 10px 20px 10px

.highlight
    background: #FFF4B1
    padding: 5px
    border-radius: 2px

.hobby_item_header
    margin-bottom: 0

.interest_item_header
    margin-bottom: 0

.org_name
    margin: 0
    font-size: 1.1rem
    color: #1904d1
    
.image_wrapper
    text-align: center
    margin: 0 auto
    padding-top: 5px
    width: 90px
    height: 90px

//Main header of each item (e.g. Education & Experience)
.item_header
    margin-top: 10px
    text-align: center
    font-size: 1.25rem

.items_wrapper
    display: flex
    gap: 32px
    justify-content: center
    flex-wrap: wrap

.skill_cert_header
    font-size: 1.063rem
    margin-bottom: 0

.title_name 
  margin: 5px 0 15px 0
  font-size: 1rem

.hide
    display: none


.section_background
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,244,244,1) 73%, #e0e7ef 100%)
    border-bottom-left-radius: 90% 50px
    border-bottom-right-radius: 90% 50px

.section_wrapper
    width: 100%
    min-height: 500px
    position: relative

.section_header
    text-align: center
    font-size: 32px
    margin: 0
    padding-bottom: 4rem
    padding-top: 2rem
    color: #3d3d3d

.section_header_letters
    padding-bottom: 4px
    border-bottom: 1px solid #797979
    display: inline-block
    
.toggle_button
  background-color: #8775e0
  border: 1px solid #797979
  color: white
  padding: 15px
  font-size: 1rem
  border-radius: 5px
  display: block
  margin: 0 auto
  cursor: pointer

.toggle_button:hover
  opacity: 80%

.toggle_button:active    
  filter: brightness(80%)

.volunteer_part
    margin-bottom: 20px

.year_header
  margin-bottom: 5px
  margin-top: 20px

@media only screen and (max-width: 465px)
    .section_header
        font-size: 24px

@media only screen and (max-width: 370px)
    .about_item
        width: 98%
        min-width: auto
        max-width: auto