.about_item
    background: white
    min-width: 300px
    max-width: 400px
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    position: relative
    padding: 30px 30px 40px 30px
    height: 100%
    -webkit-box-shadow: 0px 3px 11px -6px #000000 
    box-shadow: 0px 3px 11px -6px #000000
    
.cert_list
    padding-left: 24px

.cert_name
    font-size: 1.125rem
    margin: 20px 0 0 0
    cursor: pointer
    color: #1904d1

.cert_org_name
    font-size: 1rem
    margin: 5px 0 10px 0

.content_wrapper
    width: 100%
    max-width: 1600px
    margin: 0 auto
    padding: 1.5rem 0 5rem 0

.divider
    margin: 20px 10px 20px 10px

.section_wrapper
    width: 100%
    min-height: 500px
    background: #D2D5E6
    position: relative
    background: linear-gradient(180deg, rgba(210,213,230,1) 0%, rgba(192,198,231,1) 100%)
    
.section_header
    text-align: center
    font-size: 2rem
    margin-bottom: 4rem

.highlight
    background: #FFF4B1
    padding: 5px
    border-radius: 2px

.hobby_item_header
    margin-bottom: 0

.interest_item_header
    margin-bottom: 0

.org_name
    margin: 0
    font-size: 1.1rem
    color: #1904d1
    
.image_wrapper
    text-align: center
    margin: 0 auto
    width: 90px
    height: 90px
    background-color: rgba(212, 16, 16, 0.014)
    border-radius: 90px

//Main header of each item (e.g. Education & Experience)
.item_header
    margin-top: 10px
    text-align: center
    font-size: 1.25rem

.items_wrapper
    display: flex
    gap: 32px
    justify-content: center
    flex-wrap: wrap

//For skewed background
.skewed 
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgb(210,213,230)
  background: linear-gradient(180deg, rgba(210,213,230,1) 0%, rgba(192,198,231,1) 100%)
  transform: skewY(-2deg)
  transform-origin: top left
  z-index: -1

.skill_cert_header
    font-size: 1.063rem
    margin-bottom: 0

.title_name 
  margin: 5px 0 15px 0
  font-size: 1rem

.hide
    display: none

.toggle_button
  background-color: #8775e0
  border: 1px solid #797979
  color: white
  padding: 15px
  font-size: 1rem
  border-radius: 5px
  display: block
  margin: 0 auto

.volunteer_part
    margin-bottom: 20px

.year_header
  margin-bottom: 5px
  margin-top: 20px