.content_wrapper
    width: 100%
    max-width: 1600px
    margin: 0 auto
    text-align: center
    
.section_wrapper
    width: 100%
    min-height: 70px
    background: #D8D8D8
    position: relative

.skewed 
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #D8D8D8
  transform: skewY(-2deg)
  transform-origin: top left
  z-index: -1
