@keyframes appearAndFadeOut 
  0% 
      opacity: 1
  90% 
      opacity: 1
  100% 
      opacity: 0 

.appear_and_fadeout
    animation-name: appearAndFadeOut
    animation-duration: 1.4s

.content_wrapper
    width: 100%
    max-width: 1600px
    margin: 0 auto
    text-align: center

.email_letters
    position: relative
    color: white
    padding: 5px 15px 7px 15px
    background: black
    font-size: 1.2rem
    border-radius: 15px
    cursor: pointer

.email_tooltip
    position: absolute
    padding: 8px
    left: 50%
    bottom: 100px
    transform: translateX(-50%)
    border-radius: 10px
    background-color: #5eb1b5
    opacity: 0
    color: white

.email_tooltip::after
    content: ""
    position: absolute
    z-index: 255
    left: 50%
    top: 100%
    transform: translateX(-50%)
    border: solid 6px
    display: inline-block
    border-color: #5eb1b5 transparent transparent transparent

.image_wrapper
    display: flex
    justify-content: center
    gap: 10px

.main_header
    padding: 32px 0 0 0
    color: #3d3d3d
    font-size: 24px

.main_header_letter
    padding-bottom: 4px
    border-bottom: 1px solid #797979
    
.section_wrapper
    width: 100%
    background: linear-gradient(45deg, #c5dcf9 0%, rgba(216,216,216,1) 100%)
    position: relative
    margin: 0 auto
    padding: 16px
    border-top-left-radius: 90% 100px
    border-top-right-radius: 90% 100px

.sns_anchor
    cursor: pointer

@media only screen and (max-width: 470px)
    .section_wrapper
        border-top-left-radius: 90% 50px
        border-top-right-radius: 90% 50px