@keyframes highlight
    from
        border-bottom: 3px solid transparent
    to
        border-bottom: 3px solid blue

.hamberger_line
    width: 50%
    height: 2px
    background-color: black

.hamberger_menu_icon
    display: flex
    flex-flow: column
    height: 50px
    width: 50px
    align-items: center
    justify-content: center
    gap: 5px
    cursor: pointer
    padding: 8px 0 8px 0

.hamberger_menu_wrapper
    position: relative
    display: none

.nav
    height: 55px
    margin: 0 auto
    max-width: 1600px
    width: 100%
    display: flex
    justify-content: space-between

.menu_item
    padding: 5px 5px 7px 5px
    border-bottom: 3px solid transparent
    cursor: pointer

.menu_item:hover
    border-bottom: 3px solid blue
    animation: highlight 1s

.menu_item_mobile
    display: block
    width: 100vw
    padding: 10px
    cursor: pointer
    text-align: right
    border-bottom: 1px solid #c9cfdd


.menu_item_mobile:hover
    color: white
    background-color: #11429766 

.menu_list_mobile
    position: absolute
    top: 100%
    right: 0%
    z-index: 1
    background: white
    backdrop-filter: blur(2px)
    -webkit-box-shadow: 0px 10px 15px -10px #031421 
    box-shadow: 0px 10px 15px -10px #031421
    display: none
    overflow: hidden
    border-top: 1px solid #d4d4d4

.menu_wrapper
    display: flex
    width: 30%
    justify-content: space-evenly
    align-items: center

.logo_wrapper
    display: inline-block
    width: 50px
    max-height: 50px
    padding: 8px 0 0 8px
    cursor: pointer

.show
    display: block    


/****** FOR SMALL MOBILE DEVICES *******/
@media only screen and (max-width: 750px)
    
    .nav
        height: 45px

    .menu_wrapper
        display: none

    .logo_wrapper
        width: 40px
        max-height: 40px
    
    .hamberger_menu_wrapper
        display: block
