.nav
    height: 55px
    width: 100%
    position: absolute
    display: flex
    justify-content: space-between
    z-index: 255 //Position of Welcome message part is absolute
                 //so, this index is to make nav-items clickable

.menu_item
    padding: 5px 5px 7px 5px
    border-bottom: 3px solid transparent
    cursor: pointer

.menu_item:hover
    border-bottom: 3px solid blue

.menu_wrapper
    display: flex
    width: 30%
    justify-content: space-evenly
    align-items: center

.logo_wrapper
    display: inline-block
    padding: 8px 0 0 8px
