.nav
    height: 55px
    width: 100%
    position: absolute
    display: flex
    justify-content: space-between
    
.nav__logo-wrapper
    display: inline-block
    padding: 8px 0 0 8px

.welcome-sec__greeting
    position: absolute
    font-size: 52px
    left: 60%
    bottom: 52%
    background: rgba(255,255,255,.5)
    backdrop-filter: blur(2px)
    border-radius: 16px
    padding: 1rem
    

.welcome-sec__image-wrapper 
    position: absolute
    top: 2%
    right: 38%

.welcome-sec__wrapper
    position: relative
    height: 100vh


