@keyframes fade-in-msg-desktop
    from
        bottom: 40%
        opacity: 0
    to 
        bottom: 52%
        opacity: 1 

@keyframes fade-in-msg-tablet
    from
        bottom: 0%
        opacity: 0
    to 
        bottom: 21%
        opacity: 1 

@keyframes fade-in-msg-mobile
    from
        bottom: 40%
        opacity: 0
    to 
        bottom: 50%
        opacity: 1 

@keyframes fade-in-img
    from
        bottom: -70px
        opacity: 0
    to 
        bottom: 0px
        opacity: 1 

.greeting_container
    position: absolute
    font-family: Arial, Helvetica, sans-serif
    left: 59%
    bottom: 52%
    background: rgba(255,255,255,.44)
    backdrop-filter: blur(2px)
    -webkit-box-shadow: 5px 1px 46px 25px rgba(255,255,255,0.4) 
    box-shadow: 5px 1px 46px 25px rgba(255,255,255,0.4)
    border-radius: 30px
    padding: 16px
    animation: fade-in-msg-desktop 1.5s
    margin-right: 10px

.greeting_main
    font-size: 58px

.greeting_sub
    font-size: 30px

.image_wrapper 
    position: relative
    //animation: fade-in-img 1.5s

.section_background
    background: linear-gradient(166deg, rgba(255,255,255,1) 0%, rgba(229,238,249,1) 100%)
   
.section_wrapper
    position: relative
    max-width: 1600px
    margin: 0 auto
    padding-right: 10px
    padding-bottom: 30px



@media only screen and (max-width: 1400px)
    .greeting_container
        left: 44%

@media only screen and (max-width: 1000px)
    .greeting_container
        bottom: 21%
        left: 0
        right: 0
        border-radius: 0
        width: 100%
        text-align: right
        animation: fade-in-msg-tablet 1.5s

@media only screen and (max-width: 610px)
    .greeting_container
        bottom: 50%
        animation: fade-in-msg-mobile 1.5s
    
    .greeting_main
        font-size: 49px

    .section_wrapper
        height: 100vh

@media only screen and (max-width: 465px)
    .greeting_main
        font-size: 37px
    .greeting_sub
        font-size: 24px
    .greeting_container
        background: rgba(255,255,255,.56)

@media only screen and (max-width: 370px)
    .greeting_main
        font-size: 33px
    .greeting_sub
        font-size: 21px

@media only screen and (max-width: 320px)
    .greeting_main
        font-size: 29px
    .greeting_sub
        font-size: 18px
